<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13F17</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>BroadcomBluetoothHostControllerUSBTransport</string>
	<key>CFBundleGetInfoString</key>
	<string>4.2.7, Copyright © 2002-2014 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BroadcomBluetoothHostControllerUSBTransport</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>4.2.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>4.2.7f3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A2053</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13F17</string>
	<key>DTSDKName</key>
	<string></string>
	<key>DTXcode</key>
	<string>0501</string>
	<key>DTXcodeBuild</key>
	<string>5A2053</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Broadcom2045FamilyUSBBluetoothHCIController_D</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33292</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2045FamilyUSBBluetoothHCIController_P</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33293</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_10</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33299</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_16A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33310</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_19A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33308</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_19B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33306</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_19C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33309</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_21</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33307</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_21B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33311</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_21C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33416</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_27</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33408</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_28</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33409</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_28B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33418</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_29B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33414</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_29C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33417</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_29D</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33420</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_33A3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33415</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_33B0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33419</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_37A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33301</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_51</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33421</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_52_A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33422</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_52_B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33423</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_Combo</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33296</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_D</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33294</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_M93A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33302</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_P</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33295</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_X11</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33303</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_X16</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33304</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_XA</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33299</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_XB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33300</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>BroadcomUSBBluetoothHCIController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33537</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>BroadcomUSBBluetoothHCIController - Anycom - USB-550</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>8531</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BroadcomUSBBluetoothHCIController - BLUETOOTH USB +EDR ADAPTER Class 1 v2.1 UHE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>23</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>BroadcomUSBBluetoothHCIController - BLUETOOTH USB +EDR ADAPTER v2.1 UHE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>362</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>BroadcomUSBBluetoothHCIController - Belkin - F8T012xx1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>289</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>BroadcomUSBBluetoothHCIController - Belkin - F8T065bf</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>1626</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>BroadcomUSBBluetoothHCIController - IOGear</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>8520</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BroadcomUSBBluetoothHCIController - IOGear - GBU521</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>8449</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BroadcomUSBBluetoothHCIController - MediaLink BT3.0 Adapter</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>8600</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BroadcomUSBBluetoothHCIController - MediaLink BT4.0 Adapter</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>8680</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BroadcomUSBBluetoothHCIController - Targus</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>8532</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BroadcomUSBBluetoothHCIController_Dongle</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>8448</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BroadcomUSBBluetoothHCIController_Dongle - D-Link</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.DoNotSupport</string>
			<key>IOClass</key>
			<string>DoNotSupport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>8243</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>Microsoft Bluetooth 2.0 USB Dongle</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>156</integer>
			<key>idVendor</key>
			<integer>1118</integer>
		</dict>
		<key>Yekki Bluetooth 2.0 USB Dongle</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>2012</integer>
			<key>idVendor</key>
			<integer>32903</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2002-2014 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOBluetoothHostControllerUSBTransport</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>3.2.7</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
